<aside class="activity-flyout" aria-label="Recent activities">
  <div class="activity-flyout-inner">
    <div class="activity-flyout-kicker">Recent Activities</div>
    <a class="activity-flyout-item" href="https://link.springer.com/journal/778/updates/27853170">
      <div class="activity-flyout-title">Special Issue on ST Data @ VLDB Journal</div>
      <div class="activity-flyout-meta">Submitted by Oct 15, 2026</div>
    </a>
    <a class="activity-flyout-item" href="https://www.mdpi.com/journal/smartcities/special_issues/8685JISWGD">
      <div class="activity-flyout-title">Special Issue on Urban Computing @ Smart Cities</div>
      <div class="activity-flyout-meta">Submitted by Nov 30, 2026</div>
    </a>
  </div>
</aside>
