<aside class="activity-flyout" aria-label="Recent activities">
  <div class="activity-flyout-inner">
    <div class="activity-flyout-kicker">Recent Activities</div>
    <a class="activity-flyout-item" href="https://www.pakdd2026.org/">
      <div class="activity-flyout-title">PAKDD 2026</div>
      <div class="activity-flyout-meta">Welcome to Hong Kong for PAKDD 2026!</div>
    </a>
    <a class="activity-flyout-item" href="https://urbcomp26.netlify.app/">
      <div class="activity-flyout-title">Urbcomp 2026 @ KDD</div>
      <div class="activity-flyout-meta">Submitted by April 30, 2026</div>
    </a>
    <a class="activity-flyout-item" href="ss">
      <div class="activity-flyout-title">MiLeTS 2026 @ KDD</div>
      <div class="activity-flyout-meta">Submitted by TBD</div>
    </a>
  </div>
</aside>
