<aside class="activity-flyout" aria-label="Recent activities">
  <div class="activity-flyout-inner">
    <div class="activity-flyout-kicker">Recent Activities</div>
    <a class="activity-flyout-item" href="https://urbcomp26.netlify.app/">
      <div class="activity-flyout-title">Urbcomp 2026</div>
      <div class="activity-flyout-meta">Welcome to submit your manuscript!</div>
    </a>
    <a class="activity-flyout-item" href="/talks/">
      <div class="activity-flyout-title">AAAI 2026</div>
      <div class="activity-flyout-meta">FM4TS Tutorial</div>
    </a>
    <a class="activity-flyout-item" href="/services/">
      <div class="activity-flyout-title">CIKM Workshop</div>
      <div class="activity-flyout-meta">ST Intelligence &amp; FMs</div>
    </a>
  </div>
</aside>
