          
<div class="experience">
  <h2>Working experience</h2>
    <table class="table table-sm">
      <tr>
        <th scope="row">2021/07 - 2021/12</th>
        <td> Research intern @ <a href="https://sail.sea.com">Sea AI Lab (SAIL)</a>, Singapore</td>
      </tr>
      <tr>
        <th scope="row">2018/11 - 2019/04</th>
        <td> Full-time research assistant @ <a href="https://www.nus.edu.sg">National University of Singapore</a>, Singapore</td>
      </tr>
      <tr>
        <th scope="row">2018/01 - 2018/09</th>
        <td> Algorithm engineer intern @ <a href="https://icity.jd.com">JD.COM</a>, Beijing, China</td>
      </tr>
      <tr>
        <th scope="row">2017/01 - 2018/01</th>
        <td> Research intern @ <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia">Microsoft Research</a>, Beijing, China</td>
      </tr>
      <tr>
        <th scope="row">2015/12 - 2016/09</th>
        <td> Research intern @ <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia">Microsoft Research</a>, Beijing, China</td>
      </tr>
      <tr>
      <th scope="row"></th>
      <td>
        <!-- <img src="assets/img/blank.png" height="10" alt=" /"> -->
        <img src="assets/img/sea_logo.png" height="70" alt=" /">
        <img src="assets/img/blank.png" height="10" alt=" /">
        <img src="assets/img/nus_logo.png" height="70" alt=" /">
        <img src="assets/img/blank.png" height="2" alt=" /">
        <img src="assets/img/jd_logo.png" height="70" alt=" /">
        <img src="assets/img/ms_logo.png" height="65" alt=" /">
      </td>
    </tr>
    </table>
</div>


