
<div class="publications">
  <h2>Selected publications <a href="/publications/">[See more]</a></h2> 
  {% bibliography -f papers -q @*[selected=true]* %}
</div>

<div>
  <h2>Services</h2>
  <p>Conference program commitee member &amp; Reviewer</p>
  <ul>
  <li><p>CVPR&rsquo;23, ICLR&rsquo;23, WWW&rsquo;23, AAAI&rsquo;23, ICASSP&rsquo;23</p>
  </li>
  <li><p>KDD&rsquo;22, NeurIPS&rsquo;22, ICML&rsquo;22, ICLR&rsquo;22, ECCV&rsquo;22, IJCAI&rsquo;22, AAAI&rsquo;22, SDM&rsquo;22</p>
  </li>
  <li><p>KDD&rsquo;21, NeurIPS&rsquo;21, ICML&rsquo;21, ICLR&rsquo;21, AAAI&rsquo;21</p>
  </li>
  <li><p>NeurIPS&rsquo;20, AAAI&rsquo;20, ECML-PKDD&rsquo;20, SPATIALDI&rsquo;20</p>
  </li>
  </ul>

  <p>Journal reviewer: </p>
  <ul>
  <li><p>Data mining: TKDE, TMC, IMWUT, TIST</p></li>
  <li><p>Artificial intelligence: TNNLS, TASLP, Neurocomputing, TMLR</p></li>
  <li><p>Interdiscipline: T-ITS, Transportation Research Part C, Sensor Journal</p></li>
  </ul>
</div>


<div>
  <h2>Awards</h2>
  <ul>
  <li><p>Dean's Graduate Award, NUS, 2022.</p>
  </li>
  <li><p>The 23rd China Patent Excellence Award, 2022.</p>
  </li>
  <li><p><strong>SDSC Dissertation Research Fellowship, 2020</strong> (1 out of 10 most innovative and impactful PhD students focusing on Data Science in Singapore by the Singapore Data Science Consortium.)</p>
  </li>
  <li><p><strong>Outstanding Winners of The Interdisciplinary Contest in Modeling</strong>, 2015</p>
  </li>
  <li><p>CCF(China Computer Federation) Elite Collegiate Award</p>
  </li>
  <li><p>The star of graduates in Xidian University (10 out of 4917)</p>
  </li>
  <li><p>ACM/ICPC Shaanxi province silver medal</p>
  </li>
  <li><p>Research Scholarship at NUS: 2019-2023</p>
  </li>
  <li><p>National Scholarship (four times): 2015, 2016, 2017 and 2018</p>
  </li>
  <li><p>National Scholarship for Encouragement: 2014</p>
  </li>
  <li><p>Attending DiDi Elite Forum 2021</p>
  </li>
  <li><p>Conference travel grants for SIGSPATIAL'22, CIKM'22, AAAI'20, KDD'19, SIGSPATIAL'17</p>
  </li>
  </ul>
</div>