
<div>
  <h2>Awards</h2>
  <p>Several selected awards are listed below:</p>
  <ul>
  <li><p><strong>ACM SIGSPATIAL China Rising Star Nomination Award, 2024</strong></p>
  </li>
  <li><p><strong>Stanford/Elsevier Top 2% Scientists, 2024</strong></p>
  </li>
  <li><p>Silver Medal at International Exhibition of Inventions Geneva, 2024</p>
  </li>
  <li><p>Outstanding Program Committee at SIGSPATIAL 2023</p>
  </li>
  <li><p>Dean's Graduate Research Excellence Award Award, NUS, 2022.</p>
  </li>
  <li><p><strong>The 23rd China Patent Excellence Award</strong>, 2022.</p>
  </li>
  <li><p><strong>SDSC Dissertation Research Fellowship, 2020</strong> (1 out of 10 most innovative and impactful PhD students focusing on Data Science in Singapore.)</p>
  </li>
  <li><p>Research Scholarship at NUS: 2019-2023</p>
  </li>
  <li><p>Outstanding Winners of The Interdisciplinary Contest in Modeling (ICM), top 0.2% (19 winners in 9773 groups), 2015</p>
  </li>
  <li><p>China Computer Federation (CCF) Elite Collegiate Award, 2015</p>
  </li>
  <li><p>National Scholarship (four times)</p>
  </li>
  </ul>
</div>

<div class="publications">
  <h2>Selected publications <a href="/research/">[See more]</a></h2>
  <p>* denotes corresponding author and + indicates equal contribution.</p>
  {% bibliography -f papers -q @*[selected=true]* %}
</div>

<!-- <div>
  <h2>Collaborators</h2>
  <p>I was really honored to closely work with the following researchers (in alphabetical order):</p>
  <ul>
  <li><p><a href="https://sites.google.com/view/chaoh">Chao Huang</a>, Assistant Professor, University of Hong Kong </p>
  </li>
  <li><p><a href="https://scholar.google.co.jp/citations?user=CY6FH6YAAAAJ&amp;hl=en">Kun Ouyang</a>, Algorithm Engineer, Tencent</p>
  </li>
  <li><p><a href="http://www.sjruan.me/">Sijie Ruan</a>, Assistant Professor, Beijing Institute of Technology</p>
  </li>
  <li><p><a href="https://sites.google.com/site/qingsongwen8/">Qingsong Wen</a>, Staff Engineer/Manager, DAMO Academy, Alibaba Group (U.S.)</p>
  </li>
  <li><p><a href="https://huwenmiao.net/">Wenmiao Hu</a>, PhD candidate, National University of Singapore</p>
  </li>
  <li><p><a href="https://wangywust.github.io/">Yiwei Wang</a>, Applied Scientist, Amazon</p>
  </li>
  <li><p><a href="https://zekuntong.com/">Zekun Tong</a>, National University of Singapore</p>
  </li>
  <li><p><a href="http://home.ustc.edu.cn/~zzy0929/Home/">Zhengyang Zhou</a>, Associate Researcher, University of Science and Technology of China</p>
  </li>
  <li><p><a href="http://panzheyi.cc/">Zheyi Pan</a>, Doctor Management Trainee Program, JD.COM</p>
  </li>
  </ul>
  <p>For the students I mentored, please click <a href="/teaching/">here</a>.</p>
</div> -->


